* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

canvas {
  display: none;
}

#water__mark .container__lg {
  width: 100%;
  max-width: 1600px;
  margin: auto;
}
#water__mark .container__main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 50px;
  gap: 30px;
  padding: 20vh 5vw;
  justify-content: center;
}
@media (max-width: 800px) {
  #water__mark .container__main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 50px;
  }
}
@media (max-width: 500px) {
  #water__mark .container__main {
    grid-template-rows: 1fr 350px 50px;
  }
}
#water__mark #download {
  width: 100%;
  height: 100%;
  grid-column: 1/3;
  border: solid 2px #000;
  background-color: #1b1b1b;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
#water__mark form {
  width: 100%;
  background-color: #fefbf6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 30px;
}
@media (max-width: 800px) {
  #water__mark form {
    grid-column: 1/3;
  }
}
@media (max-width: 500px) {
  #water__mark form {
    gap: 20px;
  }
  #water__mark form .datos {
    flex-direction: column;
  }
  #water__mark form div input {
    margin-top: 10px;
  }
}
#water__mark form .datos {
  display: flex;
  gap: 20px;
}
#water__mark form div {
  width: 100%;
}
#water__mark form div p {
  font-size: 18px;
  color: #be4436;
}
#water__mark form div input {
  width: 100%;
  border: none;
  background-color: #fcf7ef;
  padding: 10px 5px;
  border-bottom: solid 2px #be4436;
  margin-top: 20px;
}
#water__mark .img__container {
  width: 100%;
  background-color: #be4436;
  position: relative;
  transition: all 0.4s ease-in-out;
}
@media (max-width: 800px) {
  #water__mark .img__container {
    grid-column: 1/3;
  }
}
#water__mark .img__container input {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  background-color: aqua;
  z-index: 5;
  top: 0;
  left: 0;
}
#water__mark .img__container .img__text {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 20px;
  border: dashed 2px black;
  border-radius: 10px;
  font-weight: 700;
}
#water__mark .img__container div {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}
#water__mark .img__container div p {
  position: absolute;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#water__mark .img__container div p:nth-of-type(1) {
  font-size: 22px;
  bottom: 83px;
  left: 40px;
}
#water__mark .img__container div p:nth-of-type(2) {
  font-size: 18px;
  bottom: 63px;
  left: 40px;
}
#water__mark .img__container div p:nth-of-type(3) {
  font-size: 19px;
  bottom: 43px;
  left: 40px;
}
#water__mark .img__container div p:nth-of-type(4) {
  font-size: 14px;
  bottom: 130px;
  left: 470px;
}
#water__mark .img__container div p:nth-of-type(5) {
  font-size: 12px;
  bottom: 83px;
  max-width: 55px;
  height: 26px;
  left: 470px;
}
#water__mark .img__container div p:nth-of-type(6) {
  font-size: 12px;
  bottom: 53px;
  left: 470px;
}
#water__mark .img__container div p:nth-of-type(7) {
  font-size: 12px;
  bottom: 18px;
  left: 470px;
}
#water__mark .img__container img {
  z-index: 3;
  position: relative;
  width: 100%;
  height: 100%;
}
#water__mark .img__container #originalImage {
  z-index: 2;
  position: absolute;
  object-fit: cover;
}
#water__mark .img__container:hover {
  background-color: #e9b3ad;
}
#water__mark .img__container:hover .img__text {
  color: #be4436;
  border: solid 2px #be4436;
}
#water__mark #mobile__image__container {
  width: 100%;
  grid-column: 1/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#water__mark #mobile__image__container img {
  width: 100%;
  max-width: 400px;
}

/*# sourceMappingURL=style.css.map */
